<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <context-param>
        <description>URL del DB</description>
        <param-name>DB-URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/progettoripetizioni</param-value>
    </context-param>
    
    <context-param>
        <description>Account per accedere al DB</description>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <description>Password per accedere al DB</description>
        <param-name>pwd</param-name>
        <param-value></param-value>
    </context-param>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
</web-app>